$toolbar-color: rgb(250, 241, 241);

body {
  background-color: $toolbar-color;
}

.header {
  display: flex;
  justify-content: center;
}

section {
  width: 100%;
  height: 85%;
  display: flex;

  .div-info, .div-cadastro {
    width: 50%;
    height: 100%;

    .cadastro {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }


}
