<pic-header></pic-header>


<section *ngIf="imagens" class="img-container">

  <nav *ngIf="searchControl">
    <div>
      <i class="material-icons">search</i>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Pesquisar Fotografia</mat-label>
        <input
          matInput
          placeholder="Pesquise aqui"
          (keyup)="painelService.debounce.next($event.target.value)">
      </mat-form-field>
    </div>
  </nav>

  <div class="div-container" [class.estilo-topo]="searchControl">
    <pic-display-imagens [arrayImagens]="imagens | filtrarImagens: filtroImagens" class="div-img">
    </pic-display-imagens>
  </div>

</section>

<pic-footer></pic-footer>

